<!DOCTYPE html>
<html>
<head>
  <title>MarkItZero</title>
  <%= stylesheet_link_tag    "mark_it_zero/application", media: "all" %>
  <%= javascript_include_tag "mark_it_zero/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
